
/* typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    color: $white;
}

h1 {
    font-size: calc(28px + (30 - 28) * ((100vw - 768px) / (1300 - 768))); /* Largest */
}

h2 {
    font-size: calc(26px + (26 - 24) * ((100vw - 768px) / (1300 - 768))); /* Second largest */
}

h3 {
    font-size: calc(20px + (24 - 20) * ((100vw - 768px) / (1300 - 768))); /* Medium size */
}

h4 {
    font-size: calc(18px + (20 - 18) * ((100vw - 768px) / (1300 - 768))); /* Smaller */
}

h5 {
    font-size: calc(16px + (18 - 16) * ((100vw - 768px) / (1300 - 768))); /* Smaller still */
}

h6 {
    font-size: calc(16px + (15 - 14) * ((100vw - 768px) / (1300 - 768))); /* Smallest */
}

.title {
	font-size: calc(22px + (28 - 20) * ((100vw - 300px) / (1300 - 300)));		
}
p {
	font-size: calc(16x + (15 - 13) * ((100vw - 300px) / (1300 - 300)));
	opacity: 1; 
	font-weight: 400;
	letter-spacing: .8px;
	line-height: 1.6;
	color: $white;
} 

p.caption {
    font-size: calc(12px + (12 - 10) * ((100vw - 300px) / (1300 - 300))); /* Smaller font size */
    opacity: 0.7; /* More transparent */
    //font-style: italic; /* Optional stylistic choice */
    text-align: center; /* Center the caption below media */
    margin-top: 5px; /* Add spacing above the caption */
}

a {
	color: $gray-600;
	text-decoration: none;

	.angle {
		font-size: 13px;
		position: relative;

	}

	&:hover {
		color: $gray-500;
	}
}

.xs-font {
	font-size: 13px;
	opacity: .5;
}

